:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

h1 {
    color: #123456;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

h2 {
    color: #234567;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-count {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #345678;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #456789;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #56789A;
    }
}