:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

h1 {
    color: #123456;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

h2 {
    color: #234567;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-count {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #345678;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-buttons {
    display: flex;
    gap: 20px;
}

.recipe-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #456789;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #56789A;
    }
}

.servings {
    font-size: 20px;
    color: #6789AB;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

.servings-buttons {
    display: flex;
    gap: 20px;
}

.servings-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #789ABC;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #89ABCD;
    }
}

h3 {
    color: #2a3642;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}